VITE_API_BASE_URL=http://0.0.0.0:8080
VITE_FIREBASE_API_KEY=your_firebase_api_key_here
VITE_FIREBASE_PROJECT_ID=your_firebase_project_id_here
VITE_FIREBASE_WAITLIST_COLLECTION=your_collection_name_here
VITE_PAYSTACK_SECRET_KEY=sk_test_your_paystack_secret_key_here